<!doctype html>
<html>
  <head>
    <title>{{ page_title }}</title>
    <script defer src="//unpkg.com/alpinejs" defer></script>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="shortcut icon" href="{{ "front logo 1.png"| asset_url }}" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    {% comment %} <script src="{{ 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js '}}" defer></script> {% endcomment %}
    <script defer src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {{ content_for_header }}
    <!-- Header hook for plugins -->
    {{ 'application.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'application.js' | asset_url }}" defer></script>
  </head>
  <body class="bg-white" >
    {% section 'header2' %}
      {{ content_for_layout }}
      {% section 'cart-drawer' %}
      {% section 'footer' %}
    <style>
      {{ settings.body_font | font_face }}
      :root{
        --bodyFont: "{{ settings.body_font.family }}";
        --bodyFontlight: {{ settings.body_font.weight.variants.helvetica_n3  }};
        --bodyFontRegular: {{ settings.body_font.weight.variants.helvetica_n4 }};
        --bodyFontMedium: {{ settings.body_font.weight.variants.helvetica_n5}};
        --bodyFontBold: {{ settings.body_font.weight.variats.helvetica_n7 }};
        --bodyFontSemiBold:{{ settings.body_font.weight.variants.helvetica_n6 }};
      }
    </style>
  </body>
</html>