{% comment %} {% if template != 'index' %}  {% endcomment %}
<div class="footer">
  <div>
    <!-- Footer navigation -->
    <div class="footer-nav flex flex-col justify-between">
          </div>
          <!-- Social media links -->
           <div class="socails-container flex flex-col gap-3">
             <p>follow us</p>
             <div class=" socails flex flex-row">
               {% render "icon-x" %}
               {% render "icon-instagram" %}
             </div>
             <p>stay posted</p>
           </div>
          <!-- Copyright notice -->
          <p>sign up to our newsletter for latest news, offers and updates</p>
            <div class="newsletter-container w-full flex">
             <div class=" flex flex-row">
              {%- form 'customer', id: 'ContactFooter', class:'newsletter flex flex-row' -%}
               <input type="email" placeholder="Email"
               id="NewsletterForm--{{ section.id }}"
                  type="email"
                  name="contact[email]"
                  class="field__input"
                  value="{{ form.email }}"
                  aria-required="true"
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="email"
                  {% if form.errors %}
                    autofocus
                    aria-invalid="true"
                    aria-describedby="ContactFooter-error"
                  {% elsif form.posted_successfully? %}
                    aria-describedby="ContactFooter-success"
                  {% endif %}
                  required
               >
               <button
                  type="submit"
                  class="newsletter-form__button field__button"
                  name="commit"
                  id="Subscribe"
               > submit
               </button>
               {%- if form.errors -%}
                <small class="newsletter-form__message form__message" id="ContactFooter-error">
                  {%- render 'icon-error' -%}
                  {{- form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email -}}
                </small>
              {%- endif -%}
               {%- if form.posted_successfully? -%}
                <h3
                  class="newsletter-form__message newsletter-form__message--success form__message"
                  id="ContactFooter-success"
                  tabindex="-1"
                  autofocus
                >
                  {% render 'icon-success' -%}
                </h3>
              {%- endif -%}
              {%- endform -%}
             </div>
           </div>
            <p>&copy; {{ "now" | date: "%Y" }} yaziika store. All rights reserved.</p>
  </div>
</div>
<style>
  .footer{
    background-color: white;
    padding-inline: 20px;
    border-top: 2px solid gainsboro;
  }

  .newsletter-container{
    align-items: center;
    justify-content: flex-start;
    margin-block: 10px;
  }
  .newsletter{
    border: 1px solid black;
    width: 300px;
    align-items: center;
    padding-inline: 10px;
  }
  input{
    height: 100%;
    padding-block: 10px;
  }
  
  .newsletter-form__button{
    /* background: black;
    color: white; */
  }

  .socails-container > p{
    font-weight: 800;
    text-transform: capitalize;
    font-size: 15px;
  }
  .socails{
    gap: 15px;
  }
</style>