{% if template != 'index' and template != 'page.artist' %}
  <div class="navber-top">
    <div class="announcement-bar" style="background-color: {% if template == 'page.shop' %} #E21010 {% elsif template == 'product' %} #E21010 {% else %} white {% endif %}; 
    color: {% if template == 'page.shop' %} white {% elsif template == 'product' %} white {% else %} #E21010 {% endif %};">
      {% render 'infinite-scroll' %}
    </div>
    <div class="floating-nav-container">
            <nav class="navbar">
              <div class="navbar-conatainer">
                <a  class="header-logo-wrapper" href="{{shop.url}}">
                  <div>
                    <img src="{{ 'Yazuka_logo.png' | asset_url }}" alt=""
                      height="10px"
                      width="70px"
                      >
                  </div>
                </a>
                {% if shop.customer_accounts_enabled == true %}
                  <a href="{{ routes.account_login_url }}" class="">{% render "icon-account" %}</a>
                {% endif %}
                <a
                  class="custom-header-search-icon Header__Icon Icon-Wrapper Icon-Wrapper--clickable"
                  data-action="toggle-search"
                  id="toggle-search"
                  aria-label="Search"
                >
                    <span class="icon-search">{% render "icon-search" %}</span>
                    <span class="icon-close" style="display: none;">{% render "icon-close-button" %}</span>
                </a>
    
                  <span class="hidden-phone {%if cart.item_count !=0 %}badge{% endif %}" value="{{ cart.item_count }}"  onclick="openCartDrawer()">
                      {% render "icon-shopping-bag" %}
                    </span>
                  <span class="Header__CartDot"></span>
      
                    {% comment %} <input hidden="" class="check-icon" id="check-icon" name="check-icon" type="checkbox">
                    <label class="icon-menu" for="check-icon" id="toggleButton" >
                        <div class="bar bar--1"></div>
                        <div class="bar bar--2"></div>
                        <div class="bar bar--3"></div>
                    </label> {% endcomment %}
                    <div style="width: fit-content;" id="toggleButton">
                      <div id="icon-open" style=" width: fit-content;">
                        {% render 'icon-hamburger-menu' %}
                      </div>
                      <div id="icon-close" style=" width: fit-content;">
                        {% render 'icon-close-button' %}
                      </div>
                    </div>
              </div>
              <div id="search-box">
                {% render "icon-search" %}
                <form action="/search" method="get" role="search">
                <input class="search-input" name="q" placeholder="search" value="{{ search.terms | escape }}" />
                </form>
              </div>
              <div id="myDiv" class="">
                {%- for link in linklists['main-menu'].links -%}
                  {% if link.title != 'Home' or template != 'index'%}     
                  <li class=" link {% if link.active %} link-active {% else %} link-not-active {% endif %}" > {% render "icon-dash" %}
                      {%- if link.links != blank -%}
                        <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                          <summary
                            id="HeaderDrawer-{{ link.handle }}"
                            class="menu-drawer__menu-item .menu-tab list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                          >
                          {{ link.title | escape }}
                          {% render 'icon-plus' %}
                          {% comment %} {% render 'icon-caret' %} {% endcomment %}
                          </summary>
                          <div
                          id="link-{{ link.handle | escape }}"
                          class="menu-drawer__submenu has-submenu gradient motion-reduce"
                          tabindex="-1"
                          >
                          <div class="menu-drawer__inner-submenu">
                            <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                              {% render 'icon-arrow' %}
                              {{ link.title | escape }}
                              </button>
                              <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                                {%- for childlink in link.links -%}
                                  <li>
                                    {%- if childlink.links == blank -%}
                                      <a
                                      id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                      href="{{ childlink.url }}"
                                      class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                      {% if childlink.current %}
                                        aria-current="page"
                                      {% endif %}
                                      >
                                      {{ childlink.title | escape }}
                                      </a>
                                      {%- else -%}
                                      <details id="Details-menu-drawer-{{ link.handle }}-{{ childlink.handle }}">
                                        <summary
                                        id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                        class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                                        >
                                        {{ childlink.title | escape }}
                                        {% render 'icon-arrow' %}
                                        {% comment %} {% render 'icon-caret' %} {% endcomment %}
                                        </summary>
                                        <div
                                        id="childlink-{{ childlink.handle | escape }}"
                                        class="menu-drawer__submenu has-submenu gradient motion-reduce"
                                        >
                                        <button
                                            class="menu-drawer__close-button link link--text focus-inset"
                                            aria-expanded="true"
                                          >
                                            {% render 'icon-arrow' %}
                                            {{ childlink.title | escape }}
                                            </button>
                                          <ul
                                          class="menu-drawer__menu list-menu"
                                          role="list"
                                          tabindex="-1"
                                          >
                                          {%- for grandchildlink in childlink.links -%}
                                            <li>
                                              <a
                                              id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                              href="{{ grandchildlink.url }}"
                                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                              {% if grandchildlink.current %}
                                                aria-current="page"
                                              {% endif %}
                                              >
                                              {{ grandchildlink.title | escape }}
                                              </a>
                                              </li>
                                            {%- endfor -%}
                                          </ul>
                                        </div>
                                      </details>
                                    {%- endif -%}
                                    </li>
                                {%- endfor -%}
                              </ul>
                            </div>
                          </div>
                        </details>
                        {%- else -%}
                        <a
                          id="HeaderDrawer-{{ link.handle }}"
                          href="{{ link.url }}"
                          class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                          {% if link.current %}
                            aria-current="page"
                          {% endif %}
                          >
                          {{ link.title | escape }}
                          </a>
                        {%- endif -%}
                        </li>
                      {% endif %}
                  {%- endfor -%}
                <div class="menu-tab">
                    <img src="{{ 'Yazuka_logo.png' | asset_url }}" alt=""
                      height="200px"
                      width="200px"
                      >
                      <p>&copy; {{ "now" | date: "%Y" }} YAZÜKA store. All rights reserved.</p>
                </div>
              </div>
            </nav>
    </div>
  </div> 
{% endif %}
{% stylesheet %}
#icon-open{
  display: block;
}
#icon-close{
  display: none;
}

.icon_open_active{
  display: block;
} 
  
.icon_open_not-active{
  display: none;
}

.hidden-phone{
  position: relative;
}

.badge:after{
        content:attr(value);
        font-size:10px;
        color: #fff;
        background: red;
        border-radius:50%;
        padding: 0 5px;
        position:absolute;
        left:8px;
        bottom:0.5px;
        opacity:0.9;
}


.navber-top{
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}
  .
    /* body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
} */

/* .container {
  position: fixed;
  top: 10px;
  top: 45px;
  left: 0;
  z-index: 99;
  width: 100%;
  padding: 0 10px;
  filter: invert(1);
  position: fixed;
} */
.list-menu__item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:hover {
    background-color: whitesmoke;
  }
}
.floating-nav-container {
  position: fixed;
  top: 45px;
  left: 0;
  z-index: 99;
  width: 100%;
  padding: 0 10px;
  overflow: hidden;
  /* background-color: yellow; */
}

.floating-nav-container .navbar {
  max-width: 380px;
  border-radius:11px ;
  border: 2px solid #000;
  width: 100%;
}

.navbar {
  background-color: white ;
  width: 100%;
  /* padding: 10px; */
  max-width: 387px;
  /* padding-inline: 10px; */
  /* padding-block-end: 10px; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  /* border: 1px solid #fff; */
}


@media only screen and (max-width: 767px) {
  .floating-nav-container .navbar {
    max-width: 100%;
  }
}
/* @media only screen and (min-width: 767px) {
  .floating-nav-container {
    left: 10px;
    }
    } */
    
  .navbar-conatainer {
  border-radius:11px 11px 0 0 ;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-block: 10px;
  padding-inline: 10px;
  /* gap: 12px; */
  /* padding-block: 10px;
  padding-inline: 10px; */
  /* background-color: #FAF8F5;
  border-radius: 11px; */
  color: #fff;
}

.navbar-active{
  background-color: white;
}
.header-logo-wrapper {
  flex: 1;
  justify-content: flex-start;
  display: flex;
  height: 5px;
  align-items: center;
}

#myDiv {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  background-color: white;
  padding-inline: 10px;
  border-radius:0 0 11px 11px ;
    }
    .menu-tab {
      padding: 5px 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  align-items: center;
  color: black;
}

#myDiv.visible {
  max-height: 500px; /* Adjust to the content height */
  position: relative;
}

.Header__Icon {
  width: 18px;
  height: 18px;
}

.Header__Icon {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 5px;
}

.Header__Icon {
  /* display: inline-block; */
  /* line-height: 1; */
  transition: color 0.2s ease-in-out;
}

#search-box {
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

#search-box.active {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 5px;
  max-height: 500px;
}

.search-input {
  width: 100%;
  outline: none;
  border: none;
}

.icon-menu {
  --gap: 5px;
  --height-bar: 1.5px;
  --pos-y-bar-one: 0;
  --pos-y-bar-three: 0;
  --scale-bar: 1;
  --rotate-bar-one: 0;
  --rotate-bar-three: 0;
  width: 30px;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  cursor: pointer;
  position: relative;
  padding-inline: 5px;
}

.bar {
  position: relative;
  height: var(--height-bar);
  width: 100%;
  border-radius: 0;
  background-color: #000;
}

.bar--1 {
  top: var(--pos-y-bar-one);
  transform: rotate(var(--rotate-bar-one));
  transition: top 200ms 100ms, transform 100ms;
}

.bar--2 {
  transform: scaleX(var(--scale-bar));
  transition: transform 150ms 100ms;
}

.bar--3 {
  bottom: var(--pos-y-bar-three);
  transform: rotate(var(--rotate-bar-three));
  transition: bottom 200ms 100ms, transform 100ms;
}

.check-icon:checked + .icon-menu > .bar--1 {
  transition: top 200ms, transform 200ms 100ms;
}

.check-icon:checked + .icon-menu > .bar--3 {
  transition: bottom 200ms, transform 200ms 100ms;
}

.check-icon:checked + .icon-menu {
  --pos-y-bar-one: calc(var(--gap) + var(--height-bar));
  --pos-y-bar-three: calc(var(--gap) + var(--height-bar));
  --scale-bar: 0;
  --rotate-bar-one: 45deg;
  --rotate-bar-three: -45deg;
}
/* FIN ICON-MENU */



.back {
  background-image: url("https://unsplash.com/photos/man-in-black-leather-jacket-wearing-black-cowboy-hat-qZHagBnDt7Q");
  width: 300px;
  height: 200px;
  background-position: cover;
  background-repeat: no-repeat;
}

.link-active{
  background-color: whitesmoke;
}

.link{
  display: flex;
  align-items: center;
  justify-content: center;
}
.link > a{
  width: 100%;
  display: block;
  font-size: 30px;
}
.link-not-active{
  background-color: inherit;
}

details > summary {
  list-style: none;
  display: flex;
  justify-content: space-betwenn;
  align-items: center;
  width: 100%;
}
/* summary {
  list-style: none;
  display: flex;
  justify-content: space-betwenn;
  align-items: center;
  width: 100%;
} */

summary::marker{
  display: none;
}


@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.menu-drawer__submenu {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* or any desired background color */
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 1000; /* ensure it covers the nav */
  padding-inline: 10px;
}

.menu-drawer__submenu.open {
  animation: slideInFromRight 0.3s forwards;
}

.menu-drawer__submenu.close {
  animation: slideOutToRight 0.3s forwards;
}

.menu-drawer__close-button{
  display: flex;
  align-items: center;
  gap: 5px;
}
.menu-drawer__close-button > svg{
  width: 20px;
}

.icon-search, .icon-close {
  display: inline-block;
}

.icon-close {
  display: none;
}

.announcement-bar {
  display: flex; /* This is the Tailwind red-500 color */
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  padding-top: 0.1rem; /* py-1 */
  padding-bottom: 0.1rem; /* py-1 */
  /* border-top: 1px solid white;
  border-bottom: 1px solid white; */
}
{% endstylesheet %}

<script>

document.addEventListener('DOMContentLoaded', function() {
  const searchToggle = document.getElementById('toggle-search');
  const searchIcon = searchToggle.querySelector('.icon-search');
  const closeIcon = searchToggle.querySelector('.icon-close');

  searchToggle.addEventListener('click', function(e) {
    e.preventDefault();
    if (searchIcon.style.display !== 'none') {
      searchIcon.style.display = 'none';
      closeIcon.style.display = 'inline-block';
      // Add code here to show your search interface
    } else {
      searchIcon.style.display = 'inline-block';
      closeIcon.style.display = 'none';
      // Add code here to hide your search interface
    }
  });
});

document.addEventListener('DOMContentLoaded', () => {
  const detailsElements = document.querySelectorAll('details[id^="Details-menu-drawer-menu-item-"]');

  detailsElements.forEach(details => {
    const summary = details.querySelector('summary.menu-drawer__menu-item');
    const submenu = details.querySelector('.menu-drawer__submenu');
    const closeButton = submenu.querySelector('button.menu-drawer__close-button');

    summary.addEventListener('click', (event) => {
      if (!details.hasAttribute('open')) {
        submenu.classList.remove('close');
        submenu.classList.add('open');
      } else {
        submenu.classList.remove('open');
        submenu.classList.add('close');
      }
    });

    closeButton.addEventListener('click', () => {
      submenu.classList.remove('open');
      submenu.classList.add('close');
      setTimeout(() => {
        details.removeAttribute('open');
      }, 300); // Match the duration of the slideOut animation
    });
  });
});

</script>