<section class="index-page-section">
  <div class="index-page">
    <div class="index-page-container">
    {% comment %} <video autoplay playsinline loop muted class="mov-logo">
      <source src="https://cdn.shopify.com/videos/c/o/v/cbe74b7fee0848df9d8a9dc0c2ac1245.mov" type="video/mp4">
    </video> {% endcomment %}
    {% comment %} <video autoplay playsinline loop muted class="mov-logo">
      <source src="{{ 'logo (2).mp4'  | asset_url }}" type="video/mp4">
    </video> {% endcomment %}
    <img src="{{ 'logo-2--unscreen.gif'  | asset_url }}" alt="" width="" height="" class="mov-logo">
      {% comment %} <div class="index-image-container">
          <img src="{{'https://cdn.shopify.com/s/files/1/0552/4511/1342/files/index-background.jpg?v=1722259908' }}"
              width="300px" height="" alt="">
      </div> {% endcomment %}
     <div style="display: flex; flex-direction: column; gap: 10px; align-items: center; z-index:1; justify-content: center;">
      <a href="{{ pages['artist'].url }}">
        <button class="custom-button music">
          <span class="dot"></span>
          <span class="glow-effect"></span>
          music
        </button>
      </a>
       <a href="{{ pages['shop'].url }}">
         <button class="custom-button">
          <span class="dot"></span>
           <span class="glow-effect"></span>
           merch
         </button>
       </a>
     </div>
  </div>
  </div>
  {% render 'autoplay-music' %}
</section>

<style>
.index-layout{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  inset: 0;
  filter: brightness(0.09);
}

.index-image-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
/* .dot{
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 100%;
  right: 5px;
}

.dot::after{
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 100%;
  right: 10px;
}

.dot::before{
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 100%;
  right: 20px;
} */


.index-page{
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  overflow: hidden;
  /* background-image: url("{{ 'index-background.jpg' | asset_url }}");
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover; */
  /* padding-top: 100px; */
}

.index-page-section{
  background-color: black;
  width: 100%;
  height: fit;
}
.index-page-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
}
/* .index-page > button{
  color: red;
} */

.mov-logo{
  width: 200px;
  height: fit-content;
}
.custom-button {
  background-color: transparent; /* bg-red-950 */
  color: white; /* text-red-400 */
  /* border: 1px solid white;  */
  font-weight: 100; /* font-medium */
  overflow: hidden;
  position: relative;
  padding: 10px 10px; /* px-4 py-2 */
  border-radius: 17px; /* rounded-md */
  outline: none;
  transition: all 0.3s; /* duration-300 */
  text-transform: uppercase;
  font-size: 17px;
}

.music{
  padding-inline: 20px;
}

.custom-button:hover {
  filter: brightness(1.5);
  /* border: 5px solid white; */
   /* hover:border-b */
}
.custom-button:focus {
  filter: brightness(1.5); /* hover:brightness-150 */ /* hover:border-b */
}

.custom-button:active {
  opacity: 0.75; /* active:opacity-75 */
}
</style>