<section class="index-page">
    <img class="layout" src="{{ 'Layer_1.png'  | asset_url }}" alt="" width="" height="">
  <div class="index-page-container">
    {% comment %} <video autoplay playsinline loop muted class="mov-logo">
      <source src="https://cdn.shopify.com/videos/c/o/v/cbe74b7fee0848df9d8a9dc0c2ac1245.mov" type="video/mp4">
    </video> {% endcomment %}
    {% comment %} <video autoplay playsinline loop muted class="mov-logo">
      <source src="{{ 'logo (2).mp4'  | asset_url }}" type="video/mp4">
    </video> {% endcomment %}
    <img src="{{ 'logo-2--unscreen.gif'  | asset_url }}" alt="" width="" height="" class="mov-logo">
     {% comment %} <div style="display: flex; flex-direction: column; gap: 25px; align-items: center;">
      <a href="http://Ilovehighonfi.com">
        <button class="custom-button">
          <span class="dot"></span>
          <span class="glow-effect"></span>
          music
        </button>
      </a>
       <a href="{{ pages['shop'].url }}">
         <button class="custom-button">
          <span class="dot"></span>
           <span class="glow-effect"></span>
           merch
         </button>
       </a>
     </div> {% endcomment %}
  </div>
</section>

<style>
.layout{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  inset: 0;
}
.dot{
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 100%;
  right: 5px;
}

.dot::after{
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 100%;
  right: 10px;
}

.dot::before{
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 100%;
  right: 20px;
}


.index-page{
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
  overflow: hidden;
  background-image: url("{{ 'index-background.jpg' | asset_url }}");
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  /* padding-top: 100px; */
}

.index-page-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
/* .index-page > button{
  color: red;
} */

.mov-logo{
  width: 300px;
  height: fit-content;
}
.custom-button {
  background-color: black; /* bg-red-950 */
  color: red; /* text-red-400 */
  border: 4px solid rgba(190, 30, 30, 1);  ; /* border border-red-400 */
  border-bottom-width: 13px; /* border-b-4 */
  font-weight: 200; /* font-medium */
  overflow: hidden;
  position: relative;
  padding: 10px 20px 10px 5px; /* px-4 py-2 */
  border-radius: 17px; /* rounded-md */
  outline: none;
  transition: all 0.3s; /* duration-300 */
  text-transform: uppercase;
  font-size: 20px;
}

.custom-button:hover {
  filter: brightness(1.5); /* hover:brightness-150 */
  border-top-width: 13px; /* hover:border-t-4 */
  border-bottom-width: 1px; /* hover:border-b */
}
.custom-button:focus {
  filter: brightness(1.5); /* hover:brightness-150 */
  border-top-width: 13px; /* hover:border-t-4 */
  border-bottom-width: 1px; /* hover:border-b */
}

.custom-button:active {
  opacity: 0.75; /* active:opacity-75 */
}

.glow-effect {
  background-color: rgba(190, 30, 30, 1); /* bg-red-400 */
  box-shadow: 0 0 10px 10px rgba(248, 113, 113, 0.3); /* shadow-red-400 */
  position: absolute;
  top: -150%;
  left: 0;
  display: inline-flex;
  width: 320px; /* w-80 */
  height: 5px;
  border-radius: 6px; /* rounded-md */
  opacity: 0.5;
  transition: top 0.5s; /* duration-500 */
}

.custom-button:hover .glow-effect {
  top: 150%;
}
</style>