<section class="shop-page">
  <div class="banner ">
      {% comment %} <img
        src="{{ "yazuka banner img.jpg"  | asset_url }}"
        class="img-banner"
        height=""
        width=""
        alt="Background Image"
      > {% endcomment %}
        <div class="logo">
          <img src="https://cdn.shopify.com/s/files/1/0552/4511/1342/files/YAZUKA.png?v=1674193263" alt=""
          height=""
          width=""
         >
        </div>
        <div class="collection-container">
            <a href="{{ routes.all_products_collection_url }}">
              <li>
                collection
              </li>
            </a>
            <a href="{{ pages['gallery'].url }}">
              <li>gallery</li>
            </a>
        </div>
  </div>
  <div class="new-arrivals">
      <div class="products">
        <div class="pb-9  pt-14 h-full">
            <div class="flex flex-row gap-1 items-center">
            <h1 class="font-bold text-white text-xl uppercase px-4 py-2">New Arrivals</h1>
            </div>
              <div class="grid  grid-cols-2 lg:grid-cols-4 gap-y-12 gap-x-4 mx-4">
                {% for product in collections.all.products %}
                  {% if product.tags contains 'New' %}
                    {% comment %} {% render 'product-card', product: product %} {% endcomment %}
                   <li class="product">
                    <a href="{{ product.url }}">
                      <img
                        class="product__img"
                        src="{{ product.featured_image | image_url: width: 300, height: 300 }}"
                        alt="{{ product.featured_image.alt }}"
                        width=""
                        height=""
                      />

                      <p class="product__title">{{ product.title }}</p>
                      <p class="product__price">{{ product.price | money}}</p>
                    </a>
                  </li> 
                  {% endif %}
                {% else %}
                  <p>no matches</p>
                {% endfor %}
              </div>
            </div>
      </div>
      {% render 'product-swipper' %}
  </div>

</section>

<style>
.shop-page{
  width: 100%;
  height: 100%;
  /* position: relative; */
}

  .banner{
    position: relative;
    width: 100%;
    height: 600px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("{{ "yazuka banner img.jpg"  | asset_url }}") ;
  }

  .img-banner{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    inset: 0;
  }

  .banner-container{
    z-index: 1000;
  }

  .logo{
    font-size: 100px;
    text-transform: capitalize;
    position: fixed;
    color: white;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .collection-container{
    /* z-index: 1000; */
    font-size: 15px;
    font-weight: 800;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 20px;
    text-transform: uppercase;
  }

  .products{
    width: 100%;
    height: fit-content;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .new-arrivals{
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 2;
    position: relative;
  }
</style>